<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".EditActivity"
            android:exported="false" />
        <activity
            android:name=".model.UpdatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SystemSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".UserListActivity"
            android:exported="false" />
        <activity
            android:name=".RegistryActivity2"
            android:exported="false" />
        <activity
            android:name=".RegistryActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity android:name="com.google.zxing.client.android.CaptureActivity"
            android:exported="false"/>
    </application>

</manifest>